<div class="container" style="text-align: center">
    <h3>Add article:</h3>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="form-group">
                <label for="tb-username">Title: </label>
                <input id="tb-username" class="form form-control" placeholder="Title" ng-model="data.Name">
            </div>
            <div class="form-group">
                <label for="tb-content">Content: </label>
                <textarea id="tb-content" class="form form-control" placeholder="Content" ng-model="data.Content" style="height:300px"></textarea>
            </div>
            <div class="form-group">
                <label for="category-options">Category:</label>
                <select class="form-control" id="category-options" ng-model="data.CategoryId">
                    <option ng-repeat="category in categories" value="{{category.Id}}">{{category.Name}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="tb-image">Upload image: </label>
                <input id="tb-image" file-model="data.Images" type="file" miltiple>
            </div>
            <button id="btn-add" class="btn btn-info col-sm-2" ng-click="add()" style="float:right; width: 100px">Add</button>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>