<div class="row contacts" style="text-align: center">
    <div class="col-md-4 div"></div>
    <div class="col-lg-4">
        <div class="row empty"></div>
        <div id="members" class="h2">Team members:</div>
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Ivan Vasilev</h3>
            </div>
            <div class="panel-body">
                <a href="https://github.com/ivanvasilev" target="_blank"><img src="imgs/git.png" width="30px" height="30px" alt="git" /></a>
            </div>
        </div>
        <div class="panel panel-success">
            <div class="panel-heading">
                <h3 class="panel-title">Konstantin Adamu</h3>
            </div>
            <div class="panel-body">
                <a href="https://github.com/KonstantinAdamu" target="_blank"><img src="imgs/git.png" width="30px" height="30px" alt="git" /></a>
            </div>
        </div>
        <div class="panel panel-warning">
            <div class="panel-heading">
                <h3 class="panel-title">Lubomir Yonchev</h3>
            </div>
            <div class="panel-body">
                <a href="https://github.com/Moiraines" target="_blank"><img src="imgs/git.png" width="30px" height="30px" alt="git" /></a>

            </div>
        </div>
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h3 class="panel-title">Ognyan Alexiev</h3>
            </div>
            <div class="panel-body">
                <a href="https://github.com/oggg" target="_blank"><img src="imgs/git.png" width="30px" height="30px" alt="git" /></a>

            </div>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Teodor Cholakov</h3>
            </div>
            <div class="panel-body">
                <a href="https://github.com/tcholakov" target="_blank"><img src="imgs/git.png" width="30px" height="30px" alt="git" /></a>
            </div>
        </div>
    </div>
    <div class="col-md-4 div"></div>
</div>

<script src="app/Controllers/ContactsController.js"></script>
