<div class="row main" style="text-align:center">
    <div class="row empty"></div>
    
    <!--<div class="bs-component">
        <blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
        </blockquote>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div>
    </div>-->

    <div class="col-md-2 div"></div>
    <div class="col-lg-8" id="welcome">
        <h2>Welcome to the Heracles News!</h2>
        <h4>The place where you can inform yourself about the latest news from all over the world.</h4>
        <br />
        <img src="imgs/NewsMain.jpeg" width="800px" height="500px" alt="news" />
        <div id="fb-root"></div>
    </div>
</div>
<div class="col-md-2 div">

</div>


<script src="controllers/homeController.js"></script>