<div class="container" style="text-align: center">
    <h3>Log in here...</h3>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="tb-username">Email: </label>
                <input id="tb-username" class="form form-control" placeholder="Email" ng-model="loginData.Username">
            </div>
            <div class="form-group">
                <label for="tb-password">Password: </label>
                <input id="tb-password" class="form form-control" type="password" placeholder="Password" ng-model="loginData.Password">
            </div>
            <button id="btn-login" class="btn btn-info col-sm-2" ng-click="login()">Login</button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>