<div class="row logged-user" style="text-align: center">
    <div class="row empty"></div>
    <div class="row">
        <div class="col-md-0"></div>
        <div class="col-md-9"></div>
    </div>
    <div class="row" style="height: 220px;">
        <div class="col-md-4">
            <div class="row"></div>
        </div>
        <div class="col-md-4" style="text-align: center">
            <div class="container-fluid">
                <label for="category-options">Choose category:</label>
                <select class="form-control" id="category-options" ng-model="category">
                    <option ng-repeat="category in categories" value='{{category.Name}}'>{{category.Name}}</option>
                </select>
                <!--<select class="form-control" id="category-options"></select>-->
                <button class="btn btn-success" id="show-form-btn" ng-click="getArticlesByCategory()">Show</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4" style="text-align: center">
            <h2 class="h2">Articles:</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div ng-repeat="article in articles" style="display: inline-block; width: 100%; text-align: center">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3><a href="#/NewsArticles/details/{{article.Id}}">{{article.Name}}</a></h3> Author: {{article.Author}}
                    </div>
                    <div class="panel-body" style=" text-align:center">
                        <img src="../../imgs/default.jpg" style="width: 400px; height: 240px;" />
                    </div>
                </div>
                <br />
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>